@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
}


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .scrolling-container {

    animation: scroll 10s linear infinite;
  }
  
  .overflow-hidden {
    overflow: hidden; 
  }
  
