@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chat-box {
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.chat-text {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

/* When the text is hidden, reduce the width and hide the text */
.chat-box.hidden {
  width: 50px; /* Or adjust based on the size of your chat image */
  padding: 12px 8px; /* Make the padding smaller */
}

.chat-box.hidden .chat-text {
  opacity: 0; /* Hide the text */
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Animation for scrolling */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Apply animation to the scrolling container */
.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}
  

.custom-list {
  list-style-type: disc;
  padding-left: 20px; /* Optional for indentation */
}

.Chat {
  position: absolute;
  top: 689px;
  left: 1167px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
  /* Styles for 22-inch screens */
  .Chat {
    position: absolute;
    top: 689px;
    left: 1467px;
  }
}

@media  (min-width: 345px) and (max-width: 779px)  {
  .Chat {
    top: 837px;
    left: 257px;
 
  }
}

@media  (min-width: 789px) and (max-width: 1240px)  {
  .Chat {
    top: 789px;
    left: 167px;
 
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .Watermark {
    top: 610px ;
    left: 1530px;
  }
}

/* @media (min-width: 1050px) and (max-width: 2500px) {
  .Watermark {
    top: 509px ;
    left: 1300px;
    overflow: hidden;
  }
} */



@media (min-width: 2112px) {
  .Watermark {
    top: 910px;
    left: 2210px;
  }
}

@media screen and (min-width: 2400px) and (max-width: 2559px) {
  .Watermark {
    top: 910px;
    left: 2210px;
  }
}


/* @media screen and (min-width: 2560px) {
  .Watermark {
    top: 910px;
    left: 210px;
  }
} */




@media (min-width: 1920px) and (max-width: 2560px) {
  .text {
    padding-left: 260px;
  }
}

@media (min-width: 2112px) {
  .text {
    padding-left: 600px;
  }
}


@media (min-width: 1920px) and (max-width: 2560px) {
  .Plus {
  
    left: 480px;
  }
}

@media  (max-width: 1500px)  {
  .Plus {
  
    left: 140px;
  }
}

@media  (max-width: 1240px)  {
  .Plus {
    visibility: hidden;
  }

  .Triangle {
    visibility:hidden;
  }

  .PlusInsight {
    visibility:hidden;
  }
}



@media (min-width: 5280px) {
  .Plus {
    left: 0;
  
  }
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.Plus {
  animation: rotate 2s linear infinite; /* Adjust duration as needed */
}

.Triangle {
  animation: rotate 2s linear infinite;
}

.PlusInsight {
  animation: rotate 2s linear infinite;
}
/* 
@media (min-width: 3380px) {
  .Plus {
  
    left: 2500px;
  }
} */


@media (min-width: 2112px) {
  .Plus {
  
    left: 800px;
  }
}

@media (min-width: 2112px) {
  .Triangle {
    left: 1850px;
  }
}



@media (min-width: 5280px) {
  .Triangle {
  
    left: 3280px;
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .Triangle {
  
    left: 1520px;
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .PlusInsight {
    left:970px;
  
  }
}

@media (min-width: 2112px) {
  .PlusInsight {
    left: 1300px;
  }
}

@media (min-width: 5280px) {
  .PlusInsight {
  
    left: 2580px;
  }
}


